
.starter-template {
  padding: 40px 15px;
  text-align: center;
}



/* NAVBAR */

/* navbary w projekcie maja po 75 px wysokości*/
.navbar {
  min-height: 75px;
}

/* navbar jest rozciagniety na całą szerokośc ekranu - zaokraglone rogi nie sa potrzebne bo i tak nie będzie ich widać */
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

/* w pierwszej lini menu - nie potrzebujemy ujemnego marginesu na ostatniej liście - potrzebujemy go za to na ostatnim formsie */
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
 
  .navbar-inverse .navbar-form.navbar-right {
    margin-right: -15px;
  } 
  
}

/*w normalnym widoku nic nie zmienia, poprawia wyglad gdy menu jest zwiniete */
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav.navbar-right:last-child {
	margin-left:0px; 
  }
}

/* kolor tła taki sam jak obramówki, w projekcie nie wyróżniona została ramówka */
.navbar-inverse {
  background-color: #003367;
  border-color: #003367;
  margin-bottom: 0px; /* nie chcemy odstepu pomiedzy pierwsza i druga nawiagcją*/
  padding-top:20px
}

.navbar-inverse .navbar-brand {
  padding-top:10px;
}

.navbar-inverse .navbar-nav > li{
	margin-bottom:10px;
}

/* zmieniamy kolorystyke nieaktywnego guzika i jego wysokosc / padding*/
.navbar-inverse .navbar-nav > li > a {
  color: #e4e4e4;
  line-height:15px;
  padding-bottom:10px;
  padding-top:10px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #c0c6cd;
  background-color: transparent;
}

/* zmieniamy kolorystyke aktywnego guzika */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #c0c6cd;
  background-color: #26517e;
}

/* zmieniamy kolorystyke otwartego menu */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #c0c6cd;
  background-color: #26517e;
}

/* dodajemy stylizacje dla obrazkow jako lementów listy */
.navbar-inverse .navbar-nav > li > img{
	padding:0px 15px;
}

/* zmieniamy wysokośc i padding formularza i guzika w nim zawartego*/
.navbar-inverse .navbar-form {
	margin-bottom:10px;
	margin-top:0px;
}

.navbar-inverse .btn-info {
	padding: 6px 10px;
}

/* stylizujemy pionowy divider */
.navbar-inverse .divider-vert {
  width: 1px;
  height:35px;
  margin: 0px 15px;
  overflow: hidden;
  background-color: #1a4876;
}

/* druga linia menu nie posiada koloru za to ma obramowke dolna i odstep oddzielający od reszty contentu 30px*/
.navbar-default {
  background-color: #fff;
  border-color: #e5e5e5;
  padding-top:20px;
  margin-bottom:30px;
}

.navbar-default .navbar-brand {
  color:#003c79;
  font-size:20px;
  font-weight:700;
  padding-top:10px;
  
}

/* zmieniamy wysokośc i padding formularza i guzika w nim zawartego*/
.navbar-default .navbar-form {
	margin-bottom:10px;
	margin-top:0px;
}

.navbar-default .btn-success {
	padding: 6px 10px;
}

/* CONTENT */

.col-xs-12, .col-sm-6, .col-md-4, .col-lg-3{
	border: 1px solid #e5e5e5;
}

/* ustalamy padding da kontenera z wykresami */
.container-chart{
	margin-left:15px;
	margin-right:30px;

}

/* podmieniamy kolor guzika na bardziej nasycony w obszarze kontenera na wykresy*/
.container-chart .label-danger{
	background-color:#ff1b1b;
}

.chart-wrapper{
	height:230px;
	width:100%;
}

